body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: flex;
  background-color: #181818;
}
h3 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.005em;
  color: #fff;
  margin: 24px 0;
}
.picContainer {
  width: 280px;
  height: 280px;
  position: relative;
}

.playbutton {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
img {
  max-width: 100%;
  height: auto;
  transition: all 0.2s;
}
.artistNameAlbum:hover {
  text-decoration: underline;
  color: white;
}
.picContainer:hover {
  // opacity: 0.3;
  .albumArt {
    opacity: 0.3;
  }
  .playbutton {
    opacity: 1;
  }
}
.albumContainer {
  display: block;
  color: #fff;
  width: 280px;
  height: 371px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.artistNameAlbum {
  color: rgb(170, 170, 170);
  transition: all 0.2s;
}
.albumText {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
}
.albumType {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
  align-content: space-around;
}
.menu-list {
  transition: all 0.2s;
  position: fixed;
  z-index: 100;
  color: #b3b3b3;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #282828;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  outline: none;
}
.menu-item {
  width: 100%;
  padding: 3px 20px;
  clear: both;
  line-height: 32px;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  cursor: default;
}
.menu-item:hover {
  color: white;
  width: auto;
  background-color: #333;
}
